<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cofradia.vao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowTaskReparenting="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requiredForAllUsers="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cofradia.vao.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cofradia.vao.events.EventDetail"
            android:label="@string/title_activity_event_details" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.cofradia.vao.LoginUsingLoginFragmentActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.cofradia.vao.events.EventCreation"
            android:label="@string/title_activity_event_creation" >
        </activity>
        <activity
            android:name="com.cofradia.vao.events.EventList"
            android:label="@string/title_activity_event_list" >
        </activity>
        <activity
            android:name="com.cofradia.vao.CreateEvent"
            android:label="@string/title_activity_create_event"
            android:parentActivityName="com.cofradia.vao.events.EventList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cofradia.vao.events.EventList" />
        </activity>
    </application>

</manifest>
